<div class="dashboard">
    <section>
        <header class="dashboard-header">
            <h1>Student Dashboard</h1>
          
        </header>
        <div class="student-card">
            <div class="card-header">
                <h2 class="card-title">{{student.name}}</h2>
                <h3 class="card-subtitle">Class: {{student.studentClass}}</h3>
            </div>
            <div class="card-content">
                <p><strong>Email:</strong> {{student.email}}</p>
                <p><strong>Birth Date:</strong> {{student.birthDate | date:"dd/MM/y"}}</p>
                <p><strong>Gender:</strong> {{student.gender}}</p>
                <p><strong>Address:</strong> {{student.address}}</p>
            </div>
            <div class="card-actions">
                <button class="update-button" [routerLink]="['/student/update']" aria-label="Update student details">Update</button>
            </div>

        </div>
    </section>



    <section class="notifications">
        <h2>Notifications</h2>
        <div *ngIf="notifications.length; else noNotifications">
            <ul>
                <li *ngFor="let notification of notifications">{{notification}}</li>
            </ul>
        </div>
        <ng-template #noNotifications>
            <p>No new notifications.</p>
        </ng-template>
    </section>
</div>